[Desktop Entry]
Type=Application
Name=TVLive Mode TV
Comment=Ouvre le streaming en plein écran au démarrage
Exec=/home/stein/Documents/TVLive/Lancer-TVLive.sh
Hidden=true
NoDisplay=true
X-GNOME-Autostart-enabled=false
X-GNOME-Autostart-Delay=8
